ALTER TABLE users ADD COLUMN reset_otp VARCHAR(6) DEFAULT NULL, ADD COLUMN reset_otp_expires_at TIMESTAMP NULL DEFAULT NULL, ADD COLUMN reset_otp_attempts INT DEFAULT 0, ADD COLUMN locked_until TIMESTAMP NULL DEFAULT NULL;
